config P4WIFI
	bool "Samsung Galaxy Tab 10.1 drivers"
	default n
	help
	  Say Y to build Samsung Galaxy Tab 10.1 drivers.

if P4WIFI

config SAMSUNG_JACK
	bool "3.5MM ear jack driver for Samsung devices"
	depends on INPUT && EXTCON
	depends on STMPE_ADC
	default n
	help
	 This is 3.5MM ear jack driver for Samsung devices.
	 Please check configurations on board file,
	 and you shoud check gpio_input driver is ready.

	 If unsure, say N.

config P4WIFI_INIT_MISC
	bool "Miscellaneous boot time initialization for Samsung p4wifi"
	default n
	help
	  Initialize various board oddities that don't belong anywhere else.

config P4WIFI_REBOOT_MODE
	tristate "Reboot mode for Samsung Galaxy Tab 10.1."
	default n
	help
	  Reboot mode for Samsung Galaxy Tab 10.1.

endif # P4WIFI
