/dts-v1/;

// /memreserve/ 0x2E600000 0x11A00000; /* for Tegra2VDE-reTool */

#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/input.h>
#include "tegra20.dtsi"

/ {
	model = "Tegra20 QEMU";
	compatible = "grate,qemu", "nvidia,tegra20";

	memory@0 {
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		rtc0 = "/rtc@7000e000";
		serial0 = &uartd;
	};

	host1x@50000000 {
		dc@54200000 {
			rgb {
				status = "okay";

				nvidia,panel = <&panel>;
			};
		};
	};

	pmc@7000e400 {
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <1>;
		nvidia,cpu-pwr-good-time = <2000>;
		nvidia,cpu-pwr-off-time = <100>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <458>;
		nvidia,sys-clock-req-active-high;
		core-supply = <&vdd_core>;
	};

	serial@70006300 {
		status = "okay";
	};

	panel: panel {
		compatible = "chunghwa,claa101wa01a";

		power-supply = <&vdd_pnl_reg>;
	};

	clk32k_in: clock-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	mmc@c8000600 {
		status = "okay";
		bus-width = <4>;
		non-removable;
	};

	usb@c5000000 {
		status = "okay";
	};

	usb-phy@c5000000 {
		status = "okay";
	};

	usb@c5008000 {
		status = "okay";
	};

	usb-phy@c5008000 {
		status = "okay";
	};

	vdd_3v3_reg: regulator-0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_pnl_reg: regulator-1 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_pnl";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	vdd_core: regulator-2 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_core";
		regulator-min-microvolt = <1300000>;
		regulator-max-microvolt = <1300000>;
		regulator-always-on;
	};

	ethernet@a0000000 {
		compatible = "smsc,lan9118", "smsc,lan9115";
		reg = <0xa0000000 0x10000>;
		interrupts = <GIC_SPI 95 IRQ_TYPE_LEVEL_HIGH>;
		phy-mode = "mii";
		reg-io-width = <4>;
		smsc,irq-active-high;
		smsc,irq-push-pull;
		vdd33a-supply = <&vdd_3v3_reg>;
		vddvario-supply = <&vdd_3v3_reg>;
	};

	gpio-buttons {
		compatible = "gpio-keys";
		interrupt-parent = <&gpio>;

		power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(I, 3) GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_POWER>;
			debounce-interval = <10>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};

		volume-up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(Q, 4) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <10>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};

		volume-down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(Q, 5) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <10>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};
	};
};
